@use 'setup';
@use 'mixins' as *;
@use 'header';
@use 'main';
@use 'professionalWork';
@use 'responsive';
@use 'portfolioModal';
@use 'parallaxBackground';

html {
    position: absolute;
    overflow-x: hidden;
    font-family: $fontFamily;
    background-color: #F9F9FF;
    max-width: 100vw;
}

body {

    overflow-x: hidden;
}
